main {
  background: #90afc5;
}

.container {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.01)
  );
}

td {
  border: 2px solid #2c4a52;
}

.table1 {
  border: 4px solid #2c4a52;
}

.mainPhoto {
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.mainPhoto:hover {
  box-shadow: 1px 1px #537072, 2px 2px #537072, 3px 3px #537072, 4px 4px #537072,
    5px 5px #537072, 6px 6px #537072, 7px 7px #537072;
  -webkit-transform: translateX(-7px);
  transform: translateX(-7px);
}

.theme {
  background: #ffffff;
  box-shadow: 0 0 10px rgba(39, 38, 40, 0.4);
}
.d:hover {
  fill: #fff;
}

.floating-button {
  color: #7a7a7a;
  background: white;
}
.floating-button:hover {
  background: #2ee59d;
  box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
  color: white;
}
